@media screen and (min-width: 428px) {
  .container {
    width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }

  .team-item {
    width: calc((100% - 240px) / 2);
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}
