@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }

    .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mob-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mob-2x.jpg);
  }
}
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-tab-1x.jpg);
  max-width: 768px;
}


.hero-title {
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;
  margin-bottom: 36px;
}

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-tab-2x.jpg);
  }
}

.studio-list,
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.studio-item {
  width: calc((100% - 56px) / 2);
}

.studio-text,
.pictures-item {
  margin-bottom: 8px;
  color: var(--primery-text-color);
  text-align: left;
}

.team-list {
  gap: 64px 24px;
  padding-left: 108px;
  padding-right: 108px;
  }


  .team-item {
    width: calc((100% - 240px) / 2);
    /* gap: 24px; */
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .hero {
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  max-width: 1440px;
}


.hero-title {
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;
  margin-bottom: 48px;
}

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-desktop-2x.jpg);
  }
}
}

