:root {
  --primery-text-color: #2e2f42;
  --title-text-color: #434455;
  --accent-color: #4d5ae5;
  --header-color: #ffffff;
  --hover-color: #404bbf;
  --button-color: #e7e9fc;
  --icon-fill: #8e8f99;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: var(--title-text-color);
}

ul,
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  /* max-width: 100%; */
  height: auto;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.container {
  /* width: 100%;
  flex-wrap: wrap; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/*---------- HEADER ---------- */
.header {
  border-bottom: 1px solid var(--button-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}

.header-item {
  position: relative;
}

.link.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;

  display: flex;
  background: var(--hover-color);
  border-radius: 2px;
}

.header-nav {
  display: flex;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-right: 120px;
}

.accent {
  color: var(--primery-text-color);
}

.header-list,
.address-list {
  display: none;
}

.menu-open-btn {
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.menu-open {
  fill: var(--primery-text-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 24px 24px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu-close {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--cubic);
}

.mob-menu-list {
  margin-bottom: 100px;
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--primery-text-color);
}

.mob-menu-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--accent-color);
  margin-bottom: 40px;
}

.mob-menu-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-bottom: 48px;
}

.mob-address-item {
  margin-bottom: 48px;
}

.mob-soc-list {
  display: flex;
  justify-content: flex-start;
  gap: 56px;
}
/*---------- HERO ---------- */

.hero {
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 426px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  color: var(--header-color);
}

/*---------- Button ---------- */

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--button-color);
  color: var(--accent-color);

  border: 1px solid var(--button-color);
  border-radius: 4px;
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.btn:hover,
.btn:focus {
  background-color: var(--hover-color);
  color: var(--header-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;

  width: 169px;
  height: 56px;
  border-radius: 4px;
  border-color: transparent;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
  color: var(--header-color);
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}

.online-btn {
  position: relative;
  display: flex;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  border-color: transparent;
  padding: 8px 24px;
  box-shadow: none;
  gap: 16px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-color);
}

/*---------- Advantages ---------- */

.studio {
  padding: 96px 0px;
}

.studio-title {
  display: none;
}

.studio-icon-list {
  display: none;
}

.studio-item {
  width: 100%;
  margin-bottom: 72px;
}

.studio-item:last-child {
  margin-bottom: 0;
}

.studio-list,
.work-list {
  /* display: flex;
  column-gap: 72px; */
}

.studio-text,
.pictures-item {
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 8px;
  color: var(--primery-text-color);
  text-align: center;
}

.studio-link,
.pictures-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
  /* margin-bottom: 8px; */
  /* align-self: stretch; */
  flex-grow: 0;
}

.team-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.team-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
  margin-bottom: 8px;
}
/*---------- What are we doing ---------- */

.work {
  display: none;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  margin-bottom: 72px;
}

/*---------- Team ---------- */

.team {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

/* .container > .team-container {
  width: 264px;
} */

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  max-width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-left: auto;
  margin-right: auto;
}

.team-content {
  background-color: #ffffff;
  padding: 32px 16px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item,
.mob-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link,
.mob-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--hover-color);
}

/*---------- Portfolio ---------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-title {
  display: none;
}

.pictures .link {
  color: var(--title-text-color);
}

.button-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.pictures-list {
  display: inline-flex;
  width: calc((100% - 48px) / 3);
  border: 1px solid var(--button-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.pictures-overley {
  content: '';
  position: relative;
  overflow: hidden;
}

.pictures-overley-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  color: #f4f4fd;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.pictures-list:hover .pictures-overley-text,
.pictures-list:focus .pictures-overley-text {
  transform: translateY(0px);
}

.pictures-list:hover,
.pictures-list:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.pictures-item {
  margin-bottom: 8px;
}

.pictures-conteint {
  padding: 32px 16px;
}

/*----------- CUSTOMERS ------------*/

.customers-container {
  /* max-width: 396px; */
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-title {
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  align-items: center;
  justify-content: space-between;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
  align-items: center;
  cursor: pointer;
  display: flex;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 16px 40px;

  transition: fill 250ms var(--cubic), border-color 250ms var(--cubic);
}

.customers-icon {
  justify-content: center;
  fill: var(--icon-fill);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--hover-color);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--hover-color);
}

/*----------- FOOTER ------------*/
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--primery-text-color);
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-wraper {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.container-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--button-color);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--accent-color);
}

.footer-accent {
  color: #f4f4fd;
}

.footer-soc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: #ffffff;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--cubic);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.online-field {
  position: relative;
  display: flex;
}

.online-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  outline: none;
}

.online-input::placeholder {
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.6;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.online-label {
  color: #ffffff;
}

.online-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.footer-icon-plane {
  margin-left: auto;
}

/*-------MODAL-------*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000085;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.modal {
  width: 408px;
  min-height: 578px;
  background: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
  padding: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--cubic);
  cursor: pointer;
}

.close-icon {
  position: absolute;
}
.modal-close:hover {
  background-color: var(--hover-color);
}

.modal-close:hover .close-icon {
  fill: var(--button-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;

  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;
}

.modal-input::placeholder {
  font-size: 12px;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--primery-text-color);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  background-color: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  outline: none;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: var(--accent-color);
}

.check-text {
  display: flex;
  gap: 5px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-fill);
}

.check-text-privacy {
  line-height: 1.33;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-check {
}

.check-text::before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--primery-text-color);
  display: block;
  transition: background-color 250ms var(--cubic);
}

.modal-check:checked + .check-text::before {
  background-color: var(--hover-color);
  border: none;
  background-image: url(../images/check-min.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-btn {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
